.promo
    padding-top: 265px
    padding-bottom: 250px
    display: flex
    justify-content: space-between
    background: linear-gradient(0deg, rgba(218, 165, 32, 0.5), rgba(218, 165, 32, 0.5)),  url('../img/promo.png') no-repeat center / cover
    &__img
        width: 800px
    &__tittle
        font-family: Arial, Helvetica, sans-serif
        text-align: center
        margin: auto
        color: #fff
        font-size: 65px
        max-width: 991px
        width: 100%
    &__buttons
        display: flex
        justify-content: center
        margin-top: 150px
    &__button
        font-family: Arial, Helvetica, sans-serif
        font-size: 25px
        &-first
            background: #D49E14
            color: white
            margin-right: 40px
        &-second
            color: #503901